.DS_Store
README.html
README.pdf
labs/clusters
labs/position/
labs/structure/
scripts/*-final.*
lectures/blockmodeling/
lectures/centrality/
lectures/clustering/
lectures/community/
lectures/cores/
lectures/erdosrenyi/
lectures/fraud/
lectures/history/
lectures/learning/
lectures/link/
lectures/models/
lectures/motivation/
lectures/networkology/
lectures/represent/
lectures/software/
lectures/visualization/